@import "global/variables";
@import "global/mixins";

.account-list {
  position: absolute;
  right: 100px;
  top: 22px;
  @include list-style;
  display: flex;
  gap: 44px;

  @media (min-width: $tablet-width) {
    right: 20px;
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    right: 40px;
  }
}

.account-list__link {

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-text;
  }
}

.account-list__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
