// Шрифты
$font-global: "Montserrat", sans-serif;

// Цвета
$color-text: #333333;
$color-primary: #7859cf;
$color-background: #f3ebe1;
$color-second: #ffffff;
$color-border-second: #e6e6e6;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
